{% extends 'admin.html.twig' %}

{% block title %}Club Liste{% endblock %}


{% block body %}
    <h1>Liste des clubs</h1>
    <table class="table">
        <thead>
        <tr>
            <th bgcolor="#a0bbe6" >Id Club</th>
            <th bgcolor="#a0bbe6">Nom club</th>
            <th bgcolor="#a0bbe6">Date creation</th>
            <th bgcolor="#a0bbe6">Club Owner</th>
            <th bgcolor="#a0bbe6">Nombre des membres</th>
            <th bgcolor="#a0bbe6">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for clb in clubs %}
            <tr>
                <td>{{ clb.id }}</td>
                <td>{{ clb.nom_club }}</td>
                <td>{{ clb.dateCreation  ? clb.dateCreation |date('Y-m-d') : '' }}</td>
                <td>{{ clb.club_owner}}</td>
                <td>{{ clb.nbr_members}}</td>
                <td><img src="{{ asset('UserPart/imgs/' ~ clb.imageclb) }}"
                         alt="" style="width:40px; height: 40px "></td>

                <td>
                    <a href="{{ path('app_adminclb_show', {'id': clb.id}) }}">Détails</a>  &nbsp;
                   &nbsp;




                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun club existant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}