{% extends 'test.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Ajouter un nouveau évenement</h1>
    <div style="display: flow-root;align-items: center;justify-content: center; margin-top: 40px; padding: 30px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Organiser un  événement</h5>


                <!-- General Form Elements -->
                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Nom Evenement</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.event_name,{ 'attr':{'class':'form-control'}})   }}
                        {{ form_errors(form.event_name,{ 'attr':{'class':'text-danger'}})   }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <p>
                            {{ form_widget(form.description,{ 'attr':{'class':'form-control'}})   }}
                            {{ form_errors(form.description,{ 'attr':{'class':'text-danger'}})   }}
                        </p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Date d'evenement</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.event_date,{ 'attr':{'class':'form-control'}})   }}
                        {{ form_errors(form.event_date,{ 'attr':{'class':'text-danger'}})   }}
                    </div>
                </div>
                <!-- <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Debut evenement</label>
            <div class="col-sm-10">
               {#  {{ form_widget(form.startingTime,{ 'attr':{'class':'form-control'}})   }}
                {{ form_errors(form.startingTime,{ 'attr':{'class':'text-danger'}})   }} #}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Fin evenement</label>
            <div class="col-sm-10">
                 {# {{ form_widget(form.endingTime,{ 'attr':{'class':'form-control'}})   }}
                {{ form_errors(form.endingTime,{ 'attr':{'class':'text-danger'}})   }} #}
            </div>
        </div> -->

                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Adresse</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.adresse,{ 'attr':{'class':'form-control'}})   }}
                        {{ form_errors(form.adresse,{ 'attr':{'class':'text-danger'}})   }}
                    </div>
                </div>




                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Image d'évenement</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.image,{ 'attr':{'class':'form-control'}})   }}
                        {{ form_errors(form.image,{ 'attr':{'class':'text-danger'}})   }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Nom Club</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.club,{ 'attr':{'class':'form-control'}})   }}

                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Nom Maximum des participants</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.nbrparticiMax,{ 'attr':{'class':'form-control'}})   }}

                    </div>
                </div>
                <div class="row mb-3">
                    <button class="btn btn-success btn-icon-split"><span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                        {{ button_label|default('Ajouter') }}</button></button>

                </div>
            </div>








            {{ form_end(form) }}

        </div>
    </div>
    <a href="{{ path('evenement_index') }}">Retour au liste des événements</a>

{% endblock %}
