{% extends 'test.html.twig' %}

{% block title %}Club List{% endblock %}

{% block body %}
    <div class="row">
        <a class="view-link shutter" href="{{ path('app_club_new') }}">
            <i class="fa fa-plus-circle"></i>Ajouter un club</a>

        {% for club in clubs %}
            <div class="col-sm-6 col-md-4">

                <div class="thumbnail">

                    <a class="catagotie-head" href="{{ path('app_club_show', {'id': club.id})}}">
                        <img src="{{ asset('UserPart/imgs/' ~ club.imageclb) }}"
                             alt="" style="width:350px; height: 450px ">
                        <h3>Nom du Club : {{ club.nom_club }}</h3>
                        <h4>Admin Club : {{ club.club_owner }}</h4>
                    </a>
                    <div class="caption">
                        <p>Date de creation : {{ club.dateCreation ? club.dateCreation|date('Y-m-d') : '' }} </p>
                        <p>Nombre des membres : {{ club.nbr_members }}</p>
                        <p>
                            <a href="{{ path('app_club_show', {'id': club.id})}}" class="btn btn-default btn-transparent" role="button">
                                <button href="{{ path('app_club_show', {'id': club.id}) }}">Rejoindre </button>
                            </a>
                            <a href="{{ path('app_club_delete', {'id': club.id})}}" class="btn btn-default btn-transparent" role="button">
                                <button href="{{ path('app_club_delete', {'id': club.id}) }}">Supprimer </button>
                            </a>
                            <a href="{{ path('app_club_edit', {'id': club.id})}}" class="btn btn-default btn-transparent" role="button">
                                <button href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier </button>
                            </a>
                        </p>
                    </div>	<!-- End of /.caption -->

                </div>	<!-- End of /.thumbnail -->

            </div>	<!-- End of /.col-sm-6 col-md-4 -->
        {% endfor %}
    </div>
{% endblock %}
